.bolha {
	width: 30px;
	height: 30px;
	background-color: #000;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
}

#placar {
	width: 250px;
	height: 250px;
	color: #000;
	background-color: #EEE;
	border: 2px solid #666;
	text-align: center;
	border-radius: 10px;
}
#placar span {
	font-size: 9em;
}